<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <timestamp key="bySecond" datePattern="yyyyMMdd'_'HHmmss"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <!-- Define the relative path of log file under project -->
        <file>log/log_${bySecond}.log</file>

        <encoder>
            <pattern>%date [%thread] [%-5level] %logger{40} - %message %n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="FILE" />
    </root>
</configuration>